transformers==4.38.2
accelerate==0.34.2
einops==0.6.1
pillow==11.1.0
tensorboard
matplotlib
timm==0.9.12
tokenizers==0.15.1
mkl==2024.0.0
huggingface-hub==0.32.4
numpy==1.26.4
decord==0.6.0
